
.app{
    display: flex;
    justify-content: center;

    .container{
        width: 90%;
        background-color: #E2F3EA;
        .link{
            text-decoration: none;
            color: inherit;
        }

        //LOGIN & REGISTER
        .auth{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background: rgb(84,101,160);
            background: radial-gradient(circle, rgba(84,101,160,1) 0%, rgba(35,52,128,1) 100%);

            h1{
                font-size: 30px;
                color: #320E3B;
                margin-bottom: 2vh;
            }
    
            form{
                display: flex;
                flex-direction: column;
                padding: 25px;
                background-color: #b4d0c186;
                border-radius: 1.5rem;
                width: 250px;
                gap: 15px;
    
    
                input{
                    padding: 10px;
                    border: none;
                    border-bottom: 1px solid gray;
                    border-radius: 1.5rem;
                }
    
                button{
                    padding: 10px;
                    border: none;
                    font-size: 18px;
                    background-color: rgba(84, 100, 160, 0.747);
                    cursor: pointer;
                    border-radius: 1.5rem;
                    color:#320E3B
                }
    
                p{
                    font-size: 13px;
                    color: red;
                    text-align: center;
                }

                span{
                    font-size: 12px;
                    text-align: center;
                }
                .logo{
                    display: flex;
                    justify-content: center;
                    padding: 20px;
                    img{
                        width: 100px;
                    }
                }
            }
        
        }

        //NAVBAR
        .navbar{
            display: flex;
            justify-content: center;
            background: rgb(84,101,160);
            padding: 5px 5px;
            .container{
                padding: 5px 5px;   
                display: flex;
                justify-content: space-between;
                background: rgb(84,101,160);

                .logoName{
                    display: flex;
                    justify-content: center;
                    .logo{
                        background-color: rgba(240, 248, 255, 0.623);
                        width: 75px;
                        height: 75px;
                        border-radius: 50%;
                        display: flex;
                        justify-content:center;
                        img{
                            width: 50px;
                        }
                    }
                    .blogName{
                        margin-top: 3vh;
                        font-size: 20px;
                        font-family:cursive;
                    }
                }    
                .categories{
                        display: flex;
                        align-items: center;
                        gap: 15px;

                        h6{
                            font-weight: 600;
                            font-size: 20px;
                        }
                }
                .profile{
                    display: flex;
                    align-items: center;
                    gap: 15px;
                }
                .link{
                    cursor: pointer;
                }

            }
        }
        
        //FOOTER
        footer{
            margin-top: 100px;
            padding: 20px;
            background-color: #000080;
            display: flex;
            justify-content: flex-end;
            color: aliceblue;
            font-family: monospace;
        }

        //HOME
        .home{

            .posts{
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                gap: 150px;


                .post{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 3vw;
                    padding: 0px 3vw;

                    &:nth-child(2n+1){
                        flex-direction: row-reverse;
                        align-items: center;
                    }

                    .img{
                        flex: 1;

                        img{
                            width: 100%;
                            max-height: 500px;
                            max-width: 500px;
                            object-fit: cover;
                        }
                    }

                    .content{
                        flex: 2px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        h1{
                            font-size: 30px;
                        }

                        p{
                            margin-top: 20px;
                            font-size: 15px;
                        }

                        button{
                            margin-top: 20px;
                            padding: 15px 30px;
                            border-color: #e2f3ea00;
                            font-size: 18px;
                            background-color: rgba(84, 100, 160, 0.747);
                            cursor: pointer;
                            border-radius: 3rem;
                            color:#320E3B;

                            &:hover{
                                background-color:#E2F3EA;
                                border-color: rgba(84, 100, 160, 0.747);
                            }
                        }
                    }
                }
            }
        }
    }

}